@import 'tailwindcss';

@theme {
	--color-primary: #806df2;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: var(--font-poppins), sans-serif;
}

html {
	font-size: 16px;
}

body {
	@apply bg-gradient-to-t from-[#f3eeff] to-[#f6f5ff] dark:from-[#1e1e1e] dark:to-[#2a2a2a] text-[#2a2a2a] dark:text-[#f3eeff];

	min-width: 320px;
	min-height: 100vh;
}
